.App {
  
  display: grid;
  justify-content: center;

}
.title{
  
}

.recipe-container{
  display: grid;
  justify-content: center;
  width: 500px;
}
.tags-section{
  display: flex;
  flex-direction: row;
  padding:15px;
}
.tag{
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
  background-color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.input-field{
  width: 100%;
}
.loading-box{
  display: flex;
  padding-top: 10px;
  
}